<!DOCTYPE html>
<html>

<head>
    <title>Password Manager</title>
    <script>
        function deletePassword(id) {
            fetch('/passwords/' + id, {
                method: 'DELETE',
                credentials: 'same-origin'
            })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    document.getElementById('password-' + id).remove();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
            
            function showUpdateForm(id) {
                document.getElementById('update-form-' + id).style.display = 'block';
        }

        function updatePassword(id) {
            const newPassword = document.getElementById('new-password-' + id).value;
            fetch('/passwords/' + id, {
                method: 'PUT',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ password: newPassword }),
            })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    document.getElementById('password-text-' + id).textContent = newPassword;
                    document.getElementById('update-form-' + id).style.display = 'none';
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }

            function updateName(id) {
                const newName = document.getElementById('new-name-' + id).value;
                fetch('/user/' + id + '/update_name', {
                    method: 'PUT',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username: newName }),
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    document.getElementById('name-text-' + id).textContent = newName;
                    document.getElementById('update-name-form-' + id).style.display = 'none';
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
            
            function deleteName(id) {
                fetch('/user/' + id + '/delete_name', {
                    method: 'DELETE',
                    credentials: 'same-origin'
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    document.getElementById('name-' + id).remove();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
    </script>
</head>

<body>
    <header>
        <h1>Password Manager</h1>
        <p>Welcome, {{ user.username }}</p>
        <a href="/logout">Logout</a>
    </header>
    <h1>All Passwords</h1>
    <form action="/passwords" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Add Password">
    </form>
    <h2>Your passwords</h2>
    {% for password in passwords %}
    <p id="password-{{ password.id }}">
        <span id="password-name-{{ password.id }}">{{ password.name }}</span>:
        <span id="password-text-{{ password.id }}">{{ password.password }}</span>
        <button onclick="deletePassword({{ password.id }})">Delete Password</button>
        <button onclick="showUpdateForm({{ password.id }})">Update Password</button>
        <form id="update-form-{{ password.id }}" style="display: none;"
            onsubmit="event.preventDefault(); updatePassword({{ password.id }});">
            <input type="password" id="new-password-{{ password.id }}">
            <input type="submit" value="Submit New Password">
        </form>


        <button onclick="deleteName({{ password.id }})">Delete Name</button>
        <button onclick="showUpdateForm({{ password.id }})">Update Name</button>
        <form id="update-name-form-{{ password.id }}" style="display: none;"
            onsubmit="event.preventDefault(); updateName({{ password.id }});">
            <input type="text" id="new-name-{{ password.id }}">
            <input type="submit" value="Submit New Name">
        </form>
    </p>
    {% endfor %}
</body>

</html>